# We Make Titles the Same Way as Markdown

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Instead of chunks we have cells. The above cell is a code cell. Like any good script, we begin with listing our libraries. You can run a cell by highlighting it and clicking the "run" button, or using the correct keyboard shortcut. For Windows this is `Ctrl - Enter`. Run the above cell and this cell. What happens?

This cell and the above cell are **markdown** cells. You can change the type of cell by going to "cell" and "cell type". Once you have run a cell, you can edit it again by double-clicking on the box. You can add new cells by pressing the + button in the task bar above. Try it - create a new cell, change it to markdown, and add a **sub-title** "General Election Results in Ireland, 1992-2020."

In [3]:
data = {'year': [1992, 1997, 2002, 2007, 2011, 2016, 2020],
        'party': ['Fianna Fail', 'Fianna Fail', 'Fianna Fail', 'Fianna Fail', 'Fine Gael', 'Fine Gael', 'Fianna Fail'],
        'seats': [68, 77, 81, 78, 76, 50, 38]}

data_frame = pd.DataFrame(data)

In the code cell above, copy/paste the **dict** we created yesterday with the GE results. Don't forget to also copy/paste the line of code that transforms the **dict** into a **data frame**.

In [4]:
print(data_frame)
data_frame

   year        party  seats
0  1992  Fianna Fail     68
1  1997  Fianna Fail     77
2  2002  Fianna Fail     81
3  2007  Fianna Fail     78
4  2011    Fine Gael     76
5  2016    Fine Gael     50
6  2020  Fianna Fail     38

   year        party  seats
0  1992  Fianna Fail     68
1  1997  Fianna Fail     77
2  2002  Fianna Fail     81
3  2007  Fianna Fail     78
4  2011    Fine Gael     76
5  2016    Fine Gael     50
6  2020  Fianna Fail     38

Note the difference in output: calling the `print()` function on a data frame object in Jupyter causes the data to be rendered in a basic, terminal-esque output. Calling the object name by itself however gives a nicer output. Why?

In [5]:
data_frame.style

The above cell provides the answer: data frame objects come with a **style attribute**, which automatically tells Jupyter how to render the object in a HTML setting. It is possible to change the default settings for this style, but it is a little complicated for today's class, so we'll stick with the default for now.

Our last job is to input the code for the line plot(s) we produced on Wednesday. Copy/paste the code into the cell above and run it. Once you're done, press the >> button to the right of "run" and see what happens.

Once you've run all the code, we can output the Notebook as a HTML document. Go to the "File" menu and select "Download as...", then ".HTML". See what happens.